html {
  font-family: "regular";
}
@page {
  font-family: "regular";
  size: a4;
  margin: 2cm;
  @top-center {
    content: "cifutils.beta44.net";
  }
  @bottom-center {
    content: counter(page) "/" counter(pages);
  }
}
h1 {
  font-family: "title";
}
table {
  border-collapse: collapse;
}
td {
  border: 1px solid #000;
  padding: 2mm;
}
.value {
  font-weight: bold;
}
