<nav class="navbar navbar-default navbar-fixed-top header">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1><a href="/"><i class="fa fa-flask"></i> CIFutils <small>inorganic to power!</small></a></h1>
            </div>
        </div>
    </div>
</nav>
<div ui-view autoscroll="false" class="main"></div>
<nav class="navbar navbar-default navbar-fixed-bottom footer">
    <div class="container text-center">
        <a href="http://twitter.com/sdelquin"><i class="fa fa-twitter"></i></a>
        sdelquin
        <a href="mailto:sdelquin@gmail.com"><i class="fa fa-envelope-o"></i></a>
    </div>
</nav>